<style type="text/css">
    .banquet-border {
        border-radius: 0.375rem;
        background: transparent;
        border: 10px solid rgba(255,255,255,.4);
    }

    .banquet-header {
        background-image:
            linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
            ),
            url("/media/banquet/c.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 75% 35%;
        border: 2px;
        cursor: pointer;
    }

    .banquet-header-image {
        position: relative;
        bottom: 10px;
        left: 10px;
        background: rgba(0, 0, 0, 0.75);
    }

    .banquet-header-text {
        font-family: "Open Sans", sans-serif;
        color: white;
        text-shadow: 3px 3px 3px black;
        position: relative;
        top: 0;
    }
    .banquet-title {
        font-size: 2.4rem;
        font-family: 'Merriweather', serif;
    }

    .banquet-date {
        font-size: 1.2rem;
    }

    .banquet-blurb {
        background-color: rgba(0, 0, 0, 0.50);
        border-radius: 0.375rem;
    }
    </style>


<div class="banquet-header banquet-border mx-1 mb-3 px-3 py-2 py-md-3 py-lg-5 px-lg-4" onclick="window.location='/rsvp';">
    <div class="banquet-header-image"></div>
    <div class="banquet-header-text">
        <div class="row">
            <div class="col-md-6 banquet-title">
                <span>38<sup>th</sup></span>
                Annual Investiture Dinner and Ceremony
            </div>
            <div class="col-md-6">
                <div class="my-3 banquet-date">
                    SATURDAY, OCTOBER 26, 2024
                </div>

                <div class="mb-3 banquet-blurb p-2">
                    Join us in celebrating the soaring achievements of aviation legends at the Wisconsin Aviation Hall of Fame induction ceremony – where history takes flight!
                </div>

                <div>
                    <a href="/rsvp">
                        <button type="button" class="btn btn-primary btn-lg">
                            RSVP today!
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>