{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% load magazine_tags %}
{% load image_tags %}

{% block content %}

{% get_magazine as magazine %}

<style type="text/css">
figcaption {
    font-size: smaller;
    text-align: left;
    padding-left: 10px;
    padding-top: 3px;
}
</style>


<div class="row p-3 p-md-3 mb-3 rounded text-bg-dark">
    {% if user.pk > 0 and magazine %}
        <!-- magazine preview -->
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">{{ magazine.headline }}</h1>
            <p class="lead my-2">{{ magazine.blurb|safe }}</p>

            <p class="lead mb-0">
                <a href="{% slugurl magazine.slug %}" class="text-white fw-bold">
                    Read <i>Forward in Flight</i>
                </a>
            </p>
        </div>

        {% if magazine.cover %}
            <div class="col-md-6 px-0 mx-auto my-auto px-2 py-3 text-center">
                <a href="{% slugurl magazine.slug %}">
                    {% image magazine.cover height-400 class="img-thumbnail img-fluid" %}
                    {% caption magazine.cover %}
                </a>
            </div>
        {% endif %}

    {% else %}
        <!-- anonymous sign in -->
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">{{ page.non_member_headline }}</h1>
            <p class="lead my-3">{{ page.non_member_blurb|safe }}</p>

            {% if page.non_member_link_page and page.non_member_link_text %}
            <p class="lead mb-0">
                <a href="{% slugurl page.non_member_link_page.slug %}" class="text-white fw-bold">
                    {{ page.non_member_link_text }}
                </a>
            </p>
            {% endif %}
        </div>

        {% if page.non_member_image %}
        <div class="col-md-6 px-0 mx-auto my-auto px-3 py-3 text-center">
            {% image page.non_member_image fill-600x600 class="img-thumbnail img-fluid" %}
            {% caption page.non_member_image %}
        </div>
        {% endif %}

    {% endif %}
</div>

<div class="row mb-2">

    {% for card in page.home_page_cards.all %}
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col px-3 py-3 d-flex flex-column position-static">

                <!--
                <strong class="d-inline-block mb-2 text-primary">Featured Story</strong>
                -->

                <h3 class="my-0">{{ card.heading }}</h3>

                {% if card.date %}
                <div class="mb-1 text-muted card-date">{{ card.date|date:"N j" }}</div>
                {% endif %}

                <p class="card-text mb-auto">
                    {{ card.blurb|safe }}
                </p>

                {% if card.link_page %}
                <a href="{% slugurl card.link_page.slug %}" class="stretched-link">{{ card.link_text }}</a>
                {% endif %}

            </div>

            {% if card.image %}
            <div class="col-auto d-none d-lg-block">
                {% image card.image fill-200x200 class="img-thumbnail img-fluid mx-2 my-2" %}
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}

</div>

{% endblock content %}
