{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% load magazine_tags %}
{% load image_tags %}

{% block extra_css %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Noto+Serif&family=Quicksand&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<style type="text/css">
figcaption {
    font-size: smaller;
    padding-left: 10px;
    padding-top: 3px;
    color: #aeaeae;
}

.kohn-container-desktop {
    background-image:url('/static/kohn/440@3xfp-@2x.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    min-height:400px;
    cursor: pointer;
    border: 1px solid #8e8e8e;
}

.kohn-container-desktop .kohn-text {
    margin: 20px 0 0 30px;
}

.kohn-container-desktop .kohn-text h2 {
    font-size: 3.5rem;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.kohn-container-desktop .kohn-text h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.kohn-container-desktop .kohn-text button {
    margin-top: 10px;
    font-size: 1.2rem;
}



.kohn-container-mobile {
    background-image:url('/static/kohn/440@3xfp-@1x.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:left;
    min-height:400px;
    cursor: pointer;
    border: 1px solid #8e8e8e;
}

.kohn-container-mobile .kohn-text {
    margin: 20px 0 0 30px;
}

.kohn-container-mobile .kohn-text h2 {
    font-size: 2.2rem;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.kohn-container-mobile .kohn-text h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.kohn-container-mobile .kohn-text button {
    margin-top: 10px;
    font-size: 1.2rem;
}

.inductee-bar {
    height: 60px;
    overflow: hidden;
    background: black;
    padding: 5px 0 5px 0;
    text-align: center;
}

.inductee-bar img {
    margin-bottom: 10px;
}

.magazine-image {
    background-size: contain !important;
    background-position: top !important;
}

.dark-box {
    background:
}

.article-title-smaller h2 {
    font-size: calc(1.425rem + .9vw);
}

</style>

{% endblock %}

{% block page_title %}
{% endblock %}

{% block before_title %}
    <div class="inductee-bar mb-3">
    {% for inductee in inductee_bar %}
        <a href="{% pageurl inductee %}">{% image inductee.photo fill-50x50 loading="lazy" %}</a>
    {% endfor %}
    </div>
{% endblock %}

{% block content %}


<div class="row">
    <!-- magazine preview -->
    {% get_current_magazine_issue as current_magazine_issue %}
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 p-0 mb-1 " onclick="window.location='{% slugurl current_magazine_issue.slug %}';">
        <div class="m-3 article-frontpage rounded">
            <div class="article-hide">
                <a href="{% slugurl current_magazine_issue.slug %}">{{ current_magazine_issue.headline }}</a>
            </div>

            <div class="article-img-wrapper">
                {% image current_magazine_issue.cover width-900 class="img-fluid" loading="lazy" %}
            </div>

            <div class="article-description">
                    {{ current_magazine_issue.blurb|safe }}

                    <span class="read-more">
                        <i data-feather="arrow-right-circle"></i> Read <i>Forward in Flight</i>
                    <span>
            </div>
        </div>
    </div>


    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 p-0 mb-1" onclick="window.location='{% slugurl page.non_member_link_page.slug %}';">
        <div class="m-3 article-large article-frontpage rounded">

            <div class="article-hide">
                <a href="{% slugurl page.non_member_link_page.slug %}">Become a WAHF Member</a>
            </div>

            <div class="article-img-wrapper">
                {% image page.non_member_image fill-900x900 class="img-fluid" loading="lazy" %}
            </div>

            <div class="article-description">
                {{ page.non_member_blurb|safe }}

                <span class="read-more">
                    <i data-feather="arrow-right-circle"></i> Become a Member
                <span>

                <a href="{% slugurl page.non_member_link_page.slug %}" class="text-white fw-bold" aria-label="Become a Member">

                </a>
            </div>
        </div>
    </div>

    {% for card in page.home_page_cards.all %}
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 p-0 mb-1" onclick="window.location='{% slugurl card.link_page.slug %}';">
        <div class="m-3 article-large article-frontpage rounded">
            <div class="article-hide">
                <a href="{% slugurl card.link_page.slug %}">{{ card.heading }}</a>
            </div>

            <div class="article-img-wrapper">
                {% image card.image fill-900x900 class="img-fluid" loading="lazy" %}

                <div class="article-title">
                    <h2>{{ card.heading }}</h2>
                </div>
            </div>

            <div class="article-description">
                    {% if card.badge_text or card.date %}
                        <div class="mb-2">
                            {% if card.badge_text %}
                            <span class="badge text-bg-info">
                                {{ card.badge_text }}
                            </span>
                            {% endif %}

                            {% if card.date %}
                            <span class="badge text-bg-secondary">
                                {{ card.date|date:"N j" }}
                            </span>
                            {% endif %}
                        </div>
                    {% endif %}

                    {{ card.blurb|safe }}

                    <span class="read-more">
                        <i data-feather="arrow-right-circle"></i> Read&nbsp;More
                    <span>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- desktop -->
    <div class="col-12 d-none d-lg-inline p-0">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col d-flex flex-column position-static kohn-container-desktop" onclick="window.location='/kohn';">
                <div class="kohn-text">
                    <h2>Leo J. Kohn Photography Collection</h2>
                    <h3>Digitization and Preservation Project</h3>
                    <a href="/kohn">
                        <button class="btn btn-success btn-lg">Project Details</button>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <!-- mobile -->
    <div class="col-12 d-sm-block d-lg-none p-0">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col d-flex flex-column position-static kohn-container-mobile" onclick="window.location='/kohn';">
                <div class="kohn-text">
                    <h2>Leo J. Kohn Photography Collection</h2>
                    <h3>Digitization and Preservation Project</h3>
                    <a href="/kohn">
                        <button class="btn btn-success btn-lg"><i data-feather="arrow-right-circle"></i> Project Details</button>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}
