{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% load magazine_tags %}


{% block content %}

{% get_magazine as magazine %}


<div class="row p-4 p-md-5 mb-4 rounded text-bg-dark">
    {% if user and magazine %}
        <!-- magazine preview -->
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">{{ magazine.headline }}</h1>
            <p class="lead my-3">{{ magazine.blurb }}</p>

            <p class="lead mb-0">
                <a href="{% slugurl magazine.slug %}" class="text-white fw-bold">
                    Read <i>Forward in Flight</i>
                </a>
            </p>
        </div>

        {% if magazine.cover %}
            <div class="col-md-6 px-0 mx-auto my-auto px-3 py-3 text-center">
                <a href="{% slugurl magazine.slug %}">
                    {% image magazine.cover height-600 class="img-thumbnail img-fluid" %}
                </a>
            </div>
        {% endif %}

    {% else %}
        <!-- anonymous sign in -->
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">{{ page.non_member_headline }}</h1>
            <p class="lead my-3">{{ page.non_member_blurb }}</p>

            {% if page.non_member_link_page and page.non_member_link_text %}
            <p class="lead mb-0">
                <a href="{% slugurl page.non_member_link_page.slug %}" class="text-white fw-bold">
                    {{ page.non_member_link_text }}
                </a>
            </p>
            {% endif %}
        </div>

        {% if page.non_member_image %}
        <div class="col-md-6 px-0 mx-auto my-auto px-3 py-3 text-center">
            {% image page.non_member_image fill-800x800 class="img-thumbnail img-fluid" %}
        </div>
        {% endif %}

    {% endif %}
</div>

<div class="row mb-2">
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Featured Story</strong>
            <h3 class="mb-0">Wisconsin Airlines</h3>
            <div class="mb-1 text-muted">Nov 12</div>
            <p class="card-text mb-auto">Here is a exciting and informative story about historical local Wisconsin airlines flying around the state.</p>
            <a href="#" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="/static/img/img2.jpg" class="rounded p-3" style="height:205px;">
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Hall of Fame</strong>
            <h3 class="mb-0">2023 Inductees</h3>
            <div class="mb-1 text-muted">Nov 11</div>
            <p class="mb-auto">Please welcome our Hall of Fame Inductees for 2023! Join us to celebrate an evening of thrilling aviation stories.</p>
            <a href="#" class="stretched-link">2023 Event Info</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="/static/img/img3.jpg" class="rounded p-3" style="height:205px;">
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-warning">2022 Hall of Fame</strong>
            <h3 class="mb-0">Example Profile</h3>
            <div class="mb-1 text-muted">Nov 11</div>
            <p class="mb-auto">This example features heroism, patriotism, airplanes, and the mysterious disappearing fuel truck. He never did park that fuel truck where he claimed that he did.</p>
            <a href="#" class="stretched-link">Read More</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="/static/img/img4.jpg" class="rounded p-3" style="height:235px;">
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-danger">Membership</strong>
            <h3 class="mb-0">Donate Today</h3>
            <div class="mb-1 text-muted">Nov 11</div>
            <p class="mb-auto">Become a member today and support local aviation history.</p>
            <a href="#" class="stretched-link">Join Today</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="/static/img/img5.jpg" class="rounded p-3" style="height:255px;">
            </div>
        </div>
    </div>
</div>

{% endblock content %}
