{% extends "base.html" %}
{% load i18n static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-6 col-xl-5 col-xxl-4 mx-auto mt-5">
            <div class="card">
                <div class="card-body">
                    <div class="text-center mb-3">
                        <h2 class="mt-2">Change Password</h2>
                    </div>

                    <form method="post">
                        {% csrf_token %}

                        {% if form.errors %}
                        <div class="alert alert-block alert-danger mt-3 mb-3">
                            {% for error_key, error_message in form.errors.items %}
                                {{ error_message }}
                            {% endfor %}
                        </div>
                        {% endif %}

                        <div id="div_id_current_password" class="form-group my-4">
                            <label for="id_current_password">Current Password</label>
                            <div>
                                <input type="password" name="old_password" placeholder="" class="form-control form-control-lg" required id="id_current_password">
                            </div>
                        </div>

                        <div clas="mt-2">
                            &nbsp;
                        </div>

                        <div id="div_id_new_password1" class="form-group my-3">
                            <label for="id_new_password1">New Password</label>
                            <div>
                                <input type="password" name="new_password1" placeholder="" class="form-control form-control-lg" required id="id_new_password1">
                            </div>
                        </div>

                        <div id="div_id_new_password2" class="form-group my-3">
                            <label for="id_new_password2">New Password Confirmation</label>
                            <div>
                                <input type="password" name="new_password2" placeholder="" class="form-control form-control-lg" required id="id_new_password2">
                            </div>
                        </div>

                        <div class="">
                            <input class="btn btn-lg btn-primary mt-4 mb-3 w-100" type="submit" value="Change Password">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
