{% extends "base.html" %}
{% load i18n static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-6 col-xl-5 col-xxl-4 mx-auto mt-5">
            <div class="card">
                <div class="card-body">
                    <div class="text-center mb-3">
                        <h2 class="mt-2">Password Reset</h2>
                    </div>

                    {% if user.is_authenticated %}
                        <div class="alert alert-block alert-danger mt-3 mb-3">
                            <p>You appear to be already logged in.</p>
                            <p>Perhaps you would like to <a href="{% url 'logout' %}?next={% url 'login' %}">logout first?</a></p>
                        </div>
                    {% else %}
                    <form method="post">
                        {% csrf_token %}

                        {% if form.errors %}
                        <div class="alert alert-block alert-danger mt-3 mb-3">
                            <p>There was a problem resetting your password.</p>

                            <p>For assistance, please <a href="/contact">contact us.</a></p>

                            {{ form.errors }}
                        </div>
                        {% endif %}

                        <div id="div_id_login" class="form-group my-3">
                            <label for="id_login">Email Address</label>
                            <div>
                                <input type="email" name="email" value="{% if form.email.value %}{{ form.email.value }}{% endif %}" placeholder="" autocomplete="email" class="form-control form-control-lg" required id="id_login">
                            </div>
                        </div>

                        <div class="">
                            <input class="btn btn-lg btn-primary mt-4 mb-3 w-100" type="submit" value="Reset Password">
                        </div>

                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
