{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% load placeholder_tags %}


{% block content %}

<div class="container">
    <div class="row">
        {% for article in articles_list %}
        <div class="col-lg-6 col-md-6 col-sm-12 p-2">
            <div class="col-article rounded" onclick="window.location='{% slugurl article.slug %}';">
                <div class="article-hide">
                    <a href="{% slugurl article.slug %}">{{ article.title }}</a>
                </div>

                <div class="article-img-wrapper">
                    {% image article.image fill-900x900 as tmp_img %}
                    <div class="img-fluid article-img" style="background-image: url('{{ tmp_img.url }}');">
                    </div>

                    {% if article.top_badge %}
                    <div class="top-badge">
                        <span class="badge text-bg-warning">
                            {{ article.top_badge }}
                        </span>
                    </div>
                    {% endif %}

                    <div class="article-title">
                        <h2>{{ article.title }}</h2>
                    </div>
                </div>

                <div class="article-description">
                        {% if article.author %}
                        <span class="badge text-bg-info">
                            {{ article.author.name }}
                        </span>
                        {% endif %}

                        <span class="badge text-bg-secondary">
                            {{ article.date }}
                        </span>

                        <p class="lead">
                            {{ article.short_description }}

                            <span class="read-more">
                                Read&nbsp;More
                            <span>
                        </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}