{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% load image_tags %}
{% load placeholder_tags %}

{% block extra_css %}
<style type="text/css">
.page-title-container {
    margin-bottom: 10px;
}

.about-the-author {
    font-family: monospace;
    text-transform: uppercase;
    color: #9e9e9e;
}

.article-body {
    line-height: 180%;
    font-size: 1.4rem;
}

.article-image-container {
    border: 2px solid #eaeaea;
    padding: 7px;
    margin-bottom: 15px;
}

figcaption {
    color: #eaeaea;
    background: #1e1e1e;
    line-height: 140%;
    padding: 4px 8px 4px 8px;
}

.image-credit {
    color: #7e7e7e;
    text-transform: uppercase;
    font-size: smaller;
}

blockquote {
  border-left: 7px solid #0085cb;
  margin: 0.5rem 2.0rem 0.5rem 2.0rem;
  padding: 0.5rem 1rem;
  clear: both;
  font-size: larger;
}

.text-highlight {
    background: #ffef99;
    border-radius: 2px;
}

@media (min-width: 768px) {
    .half-width {
        width: 50%;
    }

    .float-left {
        margin-right: 20px;
        float: left !important;
    }

    .float-right {
        margin-left: 20px;
        float: right !important;
    }

    .double-wide {
        float: left !important;
        width: 48%;
        margin-right: 15px;
    }
}

@media (min-width: 576px) {
    .float-left {
        margin-left: 0px;
    }
    .float-right {
        margin-right: 0px;
    }
}
@media (min-width: 768px) {
    .float-left {
        margin-left: 0px;
    }
    .float-right {
        margin-right: -50px;
    }
}
@media (min-width: 992px) {
    .float-left {
        margin-left: -60px;
    }
    .float-right {
        margin-right: -80px;
    }
}
@media (min-width: 1200px) {
    .float-left {
        margin-left: -80px;
    }
    .float-right {
        margin-right: -180px;
    }
}
@media (min-width: 1400px) {
    .float-left {
        margin-left: -80px;
    }
    .float-right {
        margin-right: -220px;
    }
}

@media (min-width: 1650px) {
    .float-left {
        margin-left: -120px;
    }
    .float-right {
        margin-right: -260px;
    }
}

.about-author {
    padding: 0 1rem 1rem 1rem !important
}


{{ page.page_css }}

</style>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xl-9">

            <p class="lead">
                {% if page.author %}
                <span class="badge text-bg-info">
                    {{ page.author.name }}
                </span>
                {% endif %}

                <span class="badge text-bg-secondary">
                    {{ page.date }}
                </span>

                {% if page.top_badge %}
                    <span class="badge text-bg-warning">
                        {{ page.top_badge }}
                    </span>
                {% endif %}
            </p>

            <hr class="border border-primary border-3 opacity-75">

            <div class="article-body">
            {% for block in page.body %}
                {% if block.block_type == 'heading' %}
                    <h3>{{ block.value }}</h3>
                {% elif block.block_type == 'paragraph' %}
                    {{ block.value|richtext }}
                {% elif block.block_type == 'image' %}
                    <div class="article-image-container">
                        {% image block.value width-900 class="img-fluid article-image" %}
                        {% caption block.value %}
                    </div>
                {% elif block.block_type == 'blockquote' %}
                    {{ block }}
                {% endif %}
            {% endfor %}

                <div style="clear:both"></div>
            </div>

            {% if page.author and page.author.about_blurb  %}
            <div class="border border-secondary rounded p-3 m-5 about-author">
                <div class="about-the-author mx-1 my-2 p-2">
                    About The Author
                </div>

                <div class="container">
                    <div class="row">
                        {% if page.author.image %}
                        <div class="col-md-3">
                            {% image page.author.image fill-350x350 class="img-thumbnail img-fluid" %}
                        </div>
                        {% endif %}

                        <div class="col p-2">
                            <h4>{{ page.author.name }}</h4>

                            {% if page.author.contact_email %}
                                <i><a href="mailto:{{ page.author.contact_email }}">{{ page.author.contact_email }}</a></i>
                            {% endif %}

                            <p>{{ page.author.about_blurb|safe }}</p>

                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb p-2">
                  <li class="breadcrumb-item"><a href="{% slugurl page.get_parent.slug %}">All Articles</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
                </ol>
            </nav>

        </div>
    </div>
</div>

{% endblock %}