{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% load image_tags %}
{% load placeholder_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xl-9">

{% for block in page.body %}
    {% if block.block_type == 'heading' %}
        <h3>{{ block.value }}</h3>
    {% elif block.block_type == 'paragraph' %}
        {{ block.value|richtext }}
    {% elif block.block_type == 'image' %}
        {% image block.value original class="img-fluid" %}
        {% caption block.value %}
    {% endif %}
{% endfor %}

        </div>
    </div>
</div>

{% endblock %}