{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% load image_tags %}
{% load placeholder_tags %}

{% block content %}

<style type="text/css">
.top-images, .bottom-images {
    border-bottom: 1px solid #cecece;
    background: #0a58ca;
    overflow: hidden;
    height: 56px;
}

h3 {
    text-transform: uppercase;
    color: #7e7e7e;
    font-size: 1.1rem;
}

.block-paragraph {
    max-width: 900px;
    line-height: 160%;
}

.block-paragraph h2 {
    margin-top: 35px;
}

.scholarship-recipient {
    border-bottom: 1px dotted #cecece;
    max-width: 900px;
    line-height: 160%;
}

.scholarship-recipient img {
    border: 1px solid #cecece;
}
</style>

<div class="top-images mt-0 mb-2">
    {% for img in top_images %}
    {% image img height-55 class="img-fluid pr-1" %}
    {% endfor %}
</div>

<h1>{{ page.title }}</h1>

{{ page.body }}


<div class="bottom-images my-5">
    {% for img in bottom_images %}
    {% image img height-55 class="img-fluid pr-1" %}
    {% endfor %}
</div>

<h2>WAHF Scholarship Recipients</h2>

{% for scholarship in scholarship_list %}

<div class="scholarship-recipient py-4">

    <h3>{{ scholarship.year }} {{ scholarship.scholarship_name}}</h3>
    <h4>{{ scholarship.recipient_name }}</h4>

    <div class="container">
        <div class="row">
            <div class="col">
                {{ scholarship.blurb|safe }}
            </div>
            <div class="col-md-auto">
                {% image scholarship.image height-225 class="img-fluid p-1" %}
            </div>
        </div>
    </div>
</div>

{% endfor %}



{% endblock %}