html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.navbar-brand img {
    max-height: 80px;
}

h1, h2, h3, h4, h5 {
    font-family: "Lora", serif;
    font-weight: 700;
}

.header-nav {
    padding-left: 20px;
    padding-top: 40px;
}

.card-date {
    text-transform: uppercase;
    font-size: smaller;
}

figcaption {
    padding: 0 0 3px 7px;
    font-size: smaller;
}

/* open-sans-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('/static/fonts/OpenSans/open-sans-v34-latin-300.eot'); /* IE9 Compat Modes */
    src: url('/static/fonts/OpenSans/open-sans-v34-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/fonts/OpenSans/open-sans-v34-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('/static/fonts/OpenSans/open-sans-v34-latin-300.woff') format('woff'), /* Modern Browsers */
         url('/static/fonts/OpenSans/open-sans-v34-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/static/fonts/OpenSans/open-sans-v34-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-300italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: url('/static/fonts/OpenSans/open-sans-v34-latin-300italic.eot'); /* IE9 Compat Modes */
    src: url('/static/fonts/OpenSans/open-sans-v34-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/fonts/OpenSans/open-sans-v34-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/static/fonts/OpenSans/open-sans-v34-latin-300italic.woff') format('woff'), /* Modern Browsers */
         url('/static/fonts/OpenSans/open-sans-v34-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/static/fonts/OpenSans/open-sans-v34-latin-300italic.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/OpenSans/open-sans-v34-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('/static/fonts/OpenSans/open-sans-v34-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/fonts/OpenSans/open-sans-v34-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/static/fonts/OpenSans/open-sans-v34-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/static/fonts/OpenSans/open-sans-v34-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/static/fonts/OpenSans/open-sans-v34-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('/static/fonts/OpenSans/open-sans-v34-latin-italic.eot'); /* IE9 Compat Modes */
    src: url('/static/fonts/OpenSans/open-sans-v34-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/fonts/OpenSans/open-sans-v34-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/static/fonts/OpenSans/open-sans-v34-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('/static/fonts/OpenSans/open-sans-v34-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/static/fonts/OpenSans/open-sans-v34-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('/static/fonts/OpenSans/open-sans-v34-latin-700.eot'); /* IE9 Compat Modes */
    src: url('/static/fonts/OpenSans/open-sans-v34-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/fonts/OpenSans/open-sans-v34-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('/static/fonts/OpenSans/open-sans-v34-latin-700.woff') format('woff'), /* Modern Browsers */
         url('/static/fonts/OpenSans/open-sans-v34-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/static/fonts/OpenSans/open-sans-v34-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
  }


/* lora-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/Lora/lora-v32-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('/static/fonts/Lora/lora-v32-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/fonts/Lora/lora-v32-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/static/fonts/Lora/lora-v32-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/static/fonts/Lora/lora-v32-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/static/fonts/Lora/lora-v32-latin-regular.svg#Lora') format('svg'); /* Legacy iOS */
  }
  /* lora-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    src: url('/static/fonts/Lora/lora-v32-latin-600.eot'); /* IE9 Compat Modes */
    src: url('/static/fonts/Lora/lora-v32-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/fonts/Lora/lora-v32-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('/static/fonts/Lora/lora-v32-latin-600.woff') format('woff'), /* Modern Browsers */
         url('/static/fonts/Lora/lora-v32-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/static/fonts/Lora/lora-v32-latin-600.svg#Lora') format('svg'); /* Legacy iOS */
  }
  /* lora-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    src: url('/static/fonts/Lora/lora-v32-latin-700.eot'); /* IE9 Compat Modes */
    src: url('/static/fonts/Lora/lora-v32-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/fonts/Lora/lora-v32-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('/static/fonts/Lora/lora-v32-latin-700.woff') format('woff'), /* Modern Browsers */
         url('/static/fonts/Lora/lora-v32-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/static/fonts/Lora/lora-v32-latin-700.svg#Lora') format('svg'); /* Legacy iOS */
  }


  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'RobotoCondensed';
    font-style: normal;
    font-weight: 200;
    src: url('/static/fonts/Roboto_Condensed/RobotoCondensed-Light.ttf') format('truetype');
  }

.page-title-container {
    border-top: 5px solid #0085cb;
    padding: 16px 0 16px 0;
    margin: 5px 0 25px 0;
}

.page-title-container h1 {
    margin: 5px 0 5px 0;
    padding: 5px;
    color: black;
    border-bottom: 1px dotted black;
    display: inline;
}




.article-hide {
    display: none;
}

.article-detail {
    display: inline-block;
}

.article-item {
    cursor: pointer;
}

.article-item:hover div a img {
    border-color: #eafeaf;
}

.article-large {
    border: 10px solid #ededed;
}

.article-small {
    border: 5px solid #ededed;
}

.article-img-wrapper {
    position: relative;
    width: 100%;
    height: 650px;
    cursor: pointer;
}

.article-large .article-img-wrapper {
    height: 650px;
}

.article-small .article-img-wrapper {
    height: 350px;
}

.article-img {
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.article-large .article-img {
    height: 650px;
}

.article-small .article-img {
    height: 350px;
}

.article-title {
    width: 100%;
    z-index: 100;
    color: black;
    background: rgba(255,255,255,0.87);
    position: absolute;
    bottom: 0;
    padding: 12px;
}

.article-top-badge {
    position: absolute;
    top: 0;
    margin: 10px 10px 10px 10px;
}

.article-large .article-title h2 {
    font-size: calc(1.625rem + .9vw);
}

.article-small .article-title h2 {
    font-size: calc(1.025rem + .9vw);
}

.article-description {
  color: black;
  background: rgba(255,255,255,.88);
  padding: 8px 13px 13px 13px;
  margin: 0px;
  cursor: pointer;
}

.read-more {
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
    font-size: smaller;
    margin-left: 10px;
}

.article-description .badge, .article-top-badge .badge {
    font-size: .85rem;
    padding: 8px;
}

.article-large .article-description .lead {
    font-size: 1.4rem;
    padding-top: 6px;
}

.article-small .article-description .lead {
    font-size: 1.1rem;
    padding-top: 6px;
}

.navbar-nav, .nav {
    font-family: "RobotoCondensed";
    font-weight: 200;
    text-transform: uppercase;
    font-size: larger;
}

.nav-link .active {
    border-bottom: 2px solid black;
}

.footer .list-header {
    font-family: "Lora", serif;
    font-weight: 700;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.2;
    color: var(--bs-heading-color);
}

.editors-note {
    border-top: 2px solid #aeaeae;
    border-left: 10px solid #0085cb;
    border-bottom: 2px solid #aeaeae;
    border-right: 2px solid #aeaeae;
    padding: 14px 14px 14px 28px;
}
.editors-note .editors-note-header {
    font-family: "RobotoCondensed";
    font-weight: 200;
    text-transform: uppercase;
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
}


.env-alert {
    text-align:  center;
    letter-spacing: .1rem;
    padding: 4px 0 4px 0;
    border-bottom:  2px solid rgba(0, 0, 0, 0.1);
}
.env-staging {
    background-color: #dc3545!important;
    color:  #fff!important;
}
.env-development {
    background-color: #ffc107!important;
    color:  #343a40!important;
}
.env-taller-warning {
    padding: 20px 0 20px 0;
    font-size: 1.5rem;
}