html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

h1 {
    padding: 5px 0 15px 0;
}

h1, h2, h3, h4, h5 {
    font-family: "Lora", serif;
    font-weight: 700;
}

.header-nav {
    padding-left: 20px;
    padding-top: 40px;
}
.nav-link {
    margin-left: 10px;
}

.card-date {
    text-transform: uppercase;
    font-size: smaller;
}

/* open-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/OpenSans/open-sans-v34-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('/static/fonts/OpenSans/open-sans-v34-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/fonts/OpenSans/open-sans-v34-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/static/fonts/OpenSans/open-sans-v34-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/static/fonts/OpenSans/open-sans-v34-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/static/fonts/OpenSans/open-sans-v34-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }


/* lora-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/Lora/lora-v32-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('/static/fonts/Lora/lora-v32-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/fonts/Lora/lora-v32-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/static/fonts/Lora/lora-v32-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/static/fonts/Lora/lora-v32-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/static/fonts/Lora/lora-v32-latin-regular.svg#Lora') format('svg'); /* Legacy iOS */
  }
  /* lora-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    src: url('/static/fonts/Lora/lora-v32-latin-600.eot'); /* IE9 Compat Modes */
    src: url('/static/fonts/Lora/lora-v32-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/fonts/Lora/lora-v32-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('/static/fonts/Lora/lora-v32-latin-600.woff') format('woff'), /* Modern Browsers */
         url('/static/fonts/Lora/lora-v32-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/static/fonts/Lora/lora-v32-latin-600.svg#Lora') format('svg'); /* Legacy iOS */
  }
  /* lora-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    src: url('/static/fonts/Lora/lora-v32-latin-700.eot'); /* IE9 Compat Modes */
    src: url('/static/fonts/Lora/lora-v32-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/fonts/Lora/lora-v32-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('/static/fonts/Lora/lora-v32-latin-700.woff') format('woff'), /* Modern Browsers */
         url('/static/fonts/Lora/lora-v32-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/static/fonts/Lora/lora-v32-latin-700.svg#Lora') format('svg'); /* Legacy iOS */
  }