services:
  wahf-db:
    image: postgres:15.2
    container_name: wahf-db
    environment:
      - POSTGRES_DB=wahf
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_HOST_AUTH_METHOD=trust
    restart: always
    volumes:
      - ./.db/:/var/lib/postgresql/data/
    expose:
      - 5432
  wahf-cache:
    image: redis:8.4
    container_name: wahf-cache
    restart: always
    volumes:
      - ./.redis:/data
    expose:
      - 6379
  wahf-django:
    build:
      context: .
      dockerfile: ./deploy/Dockerfile-development
    container_name: wahf-django
    env_file: .env
    volumes:
      - .:/app
    ports:
      - "${PORT}:${PORT}"
    stdin_open: true
    tty: true
  mailhog:
    # image: mailhog/mailhog  # not arm
    image: anatomicjc/mailhog  # is arm64
    logging:
      driver: 'none'  # disable saving logs
    expose:
      - 1025  # smtp server
    ports:
      - 8025:8025 # web ui