{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% load image_tags %}


{% block extra_css %}
<style type="text/css">

.magazine-item {
    cursor: pointer;
}
</style>
{% endblock %}


{% block content %}


<div class="container text-center">
    <div class="row">
        {% for magazine in magazine_list %}
        <div class="col-md-4">
            <a href="{% slugurl magazine.slug %}" title="{{ magazine }}">{% image magazine.cover height-600 class="img-thumbnail img-fluid" alt=magazine loading="lazy"%}</a>
            {% caption magazine.cover %}
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}