

<p style="margin-top:10px;">Dear {{ name }},</p>

<p><strong>Thank you so much for your generous donation of ${{ amount|floatformat:2 }} to the Leo J. Kohn Photography Collection Digitization Project.</strong>
Your support means a lot to us and will help us preserve these historic aviation images for future generations.</p>

<p>With your help, we are one step closer to our goal of digitizing this valuable collection and making it accessible to aviation enthusiasts, researchers, and the public.</p>

<p>We deeply appreciate your contribution and are grateful for your support of our efforts. <strong>Thank you again for your generosity.</strong></p>

<p style="margin-top:15px;">Sincerely,</p>

<table style="width:100%;">
    <tr>
        <td style="width:50%;padding-bottom:15px;">
            <b>Dan Silvers</b><br>
            <i>Kohn Committee Chair</i><br>
            <a style="color:#1e1e1e" href="mailto:dan@wahf.org">dan@wahf.org</a>
        </td>
        <td style="width:50%;padding-bottom:15px;">
            <b>Rose Dorcey</b><br>
            <i>Kohn Committee Member</i><br>
            <a style="color:#1e1e1e" href="mailto:rose@wahf.org">rose@wahf.org</a>
        </td>
    </tr>
    <tr style="margin-top:15px;">
        <td style="width:50%;">
            <b>John Dorcey</b><br>
            <i>Director</i><br>
            <a style="color:#1e1e1e" href="mailto:john@wahf.org">john@wahf.org</a>
        </td>
        <td style="width:50%;">
            <b>Scott Green</b><br>
            <i>Director</i><br>
        </td>
    </tr>
</table>

<div style="margin: 10px 0 10px 0; color: #1e1e1e">
    <i>The Wisconsin Aviation Hall of Fame Inc is listed as a 501(c)(3) organization for donation and tax purposes.</i>
</div>

<div style="text-align:center">

    <div style="border: 2px solid black;margin-top:15px;margin-top:10px;">
        <img src="https://www.wahf.org/static/kohn/thanks-17432@2x.jpg" alt="Kohn Image #17432 - Lockheed T-33A-S-LO" width="513">

        <div style="background:#000;padding:6px;color:#eaeaea;margin-top:-5px;">
            <b>#17432</b> Lockheed T-33A-S-LO, 51-6930. Photo by Kohn.
        </div>
    </div>

    <div style="border: 2px solid black;margin-top:25px;margin-bottom:25px;">
        <img src="https://www.wahf.org/static/kohn/thanks-6773@2x.jpg" alt="Kohn Image #6773 - Bonanza in Tokyo" width="513">

        <div style="background:#000;padding:6px;color:#eaeaea;margin-top:-5px;">
            <b>#6773</b> Beechcraft C-35 "Bonanza", JA-3030. E-185-11 Engine.<br>
            Tokyo International Airport, Hanenda, Tokyo, Japan. April 26, 1954.<br>
            Owned by Sangyo-Keizai News. Photo by Trask.
        </div>
    </div>

</div>

<div style="margin: 20px 0 20px 0;color: #aeaeae; font-size: 11px">Donation ID: {{ transaction_id }}</dev>