<hr style="border: 3px solid #0d6efd;margin-top:40px;margin-bottom:40px;">

<div style="line-height:160%;">

<p>Dear {% if member.first_name %}{{ member.first_name }}{% else %}{{ member }}{% endif %},</p>

<p style="font-weight:bold;">It's that exciting time of the year again – time to renew your WAHF membership!</p>

<p>
Your continued support has been instrumental in our mission to preserve and share Wisconsin's remarkable aviation
history and honor those who make it. Together, we've achieved many milestones, and your involvement has made all the difference.
When you nominate inspiring individuals, bring WAHF speakers to your events, recruit
new enthusiasts, contribute stories to <i>Forward in Flight</i>, or support our general operating and
scholarship funds, you actively contribute to our shared legacy. <b>Your involvement has shaped WAHF into
the vibrant community it is today.</b>
</p>

<p>
Renewing your membership promptly not only ensures your uninterrupted access to exclusive WAHF
content and events but also saves the organization valuable time and resources. We've made it
convenient for you – renew your membership securely online through our website, or simply send a check.
</p>

<div style="margin: 60px 0 60px 0;text-align:center;">
    <a href="https://www.wahf.org/renew/{{ member.uuid }}/" style="padding:20px;font-size:20px;background-color:#0d6efd;color:#fff;cursor:pointer;max-width:300px;border-radius:0.5rem;border:1px solid #0d6efd;">Renew Membership</a>
</div>

<p>
While we encourage and appreciate online membership registrations for their convenience and efficiency,
we also accept payments by check. Feel free to choose the option that best suits you.
Renew/join safely online or by mailing a check for ${{ user.member.membership_level.price }} to:
</p>

<p>
Rose Dorcey<br>
Wisconsin Aviation Hall of Fame<br>
3980 Sharratt Drive<br>
Oshkosh, WI 54901-1276<br>
</p>

<p>
Your commitment fuels our passion for aviation history, and honoring today's aviators, enabling us to continue our vital work.
<b>Thank you for being an essential part of our aviation family.</b>
</p>

<p>
Warm regards,
</p>

<p style="line-height:120%;">
<b>Rose Dorcey</b><br>
Membership Chair
</p>

<hr style="border: 3px solid #0d6efd;margin-top:40px;">

<div style="padding: 10px;text-align:center;">
    <img src="https://www.wahf.org/static/emails/renew-email-t1-225.jpg" alt="">
    <img src="https://www.wahf.org/static/emails/renew-email-t2-225.jpg" alt="" style="margin: 0 10px 0 0px;">
</div>

<div style="padding: 10px;text-align:center;">
    <img src="https://www.wahf.org/static/emails/renew-email-b1-140.jpg" alt="">
    <img src="https://www.wahf.org/static/emails/renew-email-b2-140.jpg" alt="" style="margin: 0 10px 0 10px;">
    <img src="https://www.wahf.org/static/emails/renew-email-b3-140.jpg" alt="">
</div>

<hr style="border: 3px solid #0d6efd">

</div>
