<p>Hi {{ member }},</p>

<p>
<b>Welcome to the all-new Wisconsin Aviation Hall of Fame website!</b> We are delighted to have you here. Get ready to embark on a fascinating journey through the rich history of aviation in Wisconsin.
</p>

<p>
The new website is located at <a href="https://www.wahf.org">WAHF.org</a>!
</p>

<p>
To make your experience even more enjoyable, we have introduced a brand-new login feature. <b>With your WAHF account, you will unlock exclusive access to all issues of Forward in Flight magazine.</b> Whether you're a passionate aviation enthusiast, a history buff, or simply curious about Wisconsin's aviation heritage, this is the perfect place for you.
</p>

<p>
Our website offers a user-friendly interface that allows you to navigate effortlessly through the different sections. Explore the biographies of renowned aviators who have left an indelible mark on Wisconsin's aviation landscape. Delve into their remarkable achievements, courageous acts, and groundbreaking innovations that have shaped the industry.
</p>

<p>
So, what are you waiting for? As a valued WAHF member/supporter, we invite you to let your love for aviation take flight. Strap in, fasten your seatbelt, and prepare for an unforgettable journey through the Wisconsin Aviation Hall of Fame. Welcome aboard!
</p>

<p>
If you have any issues logging in, please reach out to <a href="mailto:membership@wahf.org">membership@wahf.org</a> or reply to this email and let us know.
</p>

<p>Your login information is below:</p>

<div style="border-top: 1px solid #eaeaea; margin: 10px 0 10px 0"></div>

<div style="border: 1px #cecece; margin-top: 20px; margin-bottom: 20px;">
    <div>
        <b>Email:</b>
        <span>{{ member.email }}</span>
    <div>
        <b>Password:</b>
        <span style="font-family: Courier New, monospace; font-size: larger;">{{ password }}</span>
    </div>
</div>

<div style="border-top: 1px solid #eaeaea; margin: 10px 0 10px 0"></div>

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin 20px 0 40px 0">
    <tr>
        <td align="center">
            <a href="https://www.wahf.org/accounts/login/" style="padding:20px;font-size:24px;background-color:#0d6efd;color:#fff;cursor:pointer;max-width:300px;border-radius:0.5rem;border:1px solid #0d6efd;">Login to WAHF!</a>
        </td>
    </tr>
</table>
