{% load i18n static wagtailcore_tags wagtailuserbar wagtailimages_tags %}
{% load menu_tags %}
{% load magazine_tags %}

{% get_site_root as site_root %}
{% get_current_magazine_issue as current_magazine_issue %}

<!doctype html>
<html lang="en">
  <head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RZNT3NBBJT"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-RZNT3NBBJT');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">

    {% wagtail_site as current_site %}
    <title>
      {% block title %}
      {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
      {% endblock %}
      {% block title_suffix %}
      {% if current_site.site_name %}- {{ current_site.site_name }}{% endif %}
      {% endblock %}
    </title>

    {% block metadescription %}
    {% if page.search_description %}
    <meta name="description" content="{{ page.search_description }}" />
    {% endif %}
    {% endblock %}

    <meta name="twitter:card" content="summary">

    {% if page.search_description %}
    <meta name="twitter:description" content="{{ page.search_description }}">
    {% endif %}
    {% if page.get_graph_image %}
        {% image page.get_graph_image fill-900x900 as og_tw_image %}
    <meta name="twitter:image" content="https://www.wahf.org{{ og_tw_image.url }}">
    {% endif %}

    {% block ogtitle %}
    <meta property="og:title" content="{{ page.title }}{% if current_site.site_name %} - {{ current_site.site_name }}{% endif %}" >
    <meta name="twitter:title" content="{{ page.title }}{% if current_site.site_name %} - {{ current_site.site_name }}{% endif %}">
    {% endblock %}
    <meta property="og:type" content="website" >
    <meta property="og:url" content="https://www.wahf.org{{ request.path }}" >

    {% block ogimage %}
    {% if page.get_graph_image %}
        {% image page.get_graph_image fill-1200x860 as og_fb_image %}
    <meta property="og:image" content="https://www.wahf.org{{ og_fb_image.url }}" >
    {% endif %}
    {% endblock %}

    {% block ogdescription %}
    {% if page.search_description %}
    <meta property="og:description" content="{{ page.search_description }}" >
    {% endif %}
    {% endblock %}

    {% if current_site.site_name %}
    <meta property="og:site_name" content="{{ current_site.site_name }}" >
    {% endif %}

    {# Force all links in the live preview panel to be opened in a new tab #}
    {% if request.in_preview_panel %}
    <base target="_blank">
    {% endif %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/wahf-03-11-2023.css?2025-11-25a' %}">

    {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    {% endblock %}

    {% if environment_name != "production" %}
    <style type="text/css">
    .env-alert {
        text-align:  center;
        letter-spacing: .1rem;
        padding: 4px 0 4px 0;
        border-bottom:  2px solid rgba(0, 0, 0, 0.1);
    }
    .env-staging {
        background-color: #dc3545!important;
        color:  #fff!important;

    }
    .env-development {
        background-color: #ffc107!important;
        color:  #343a40!important;
    }
    </style>
    {% endif %}

  </head>

  <body class="d-flex flex-column h-100 {% block body_class %}{% endblock %}">
    {% wagtailuserbar %}

    {% if environment_name != "production" %}
    <div class="env-alert env-{{ environment_name }}">
        {{ environment_name|upper }} - TESTING
    </div>
    {% endif %}

    <main class="flex-shrink-0">
        <div class="container">

            <!-- start header -->

            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                  <a class="navbar-brand" href="/">
                    <img src="/static/img/logo.png" alt="Wisconsin Aviation Hall of Fame">
                  </a>
                  <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                      <!--
                      <li class="nav-link px-0 link-dark">
                        <a href="/rsvp" class="nav-link">
                          <span style="color:#0a58ca; font-weight: bold;">
                            &bigstar; RSVP &bigstar;
                          </span>
                        </a>
                      </li>
                      -->


                        {% get_main_menu slug="main" parent=site_root calling_page=self %}

                        {% if user.pk > 0 %}
                        <li class="nav-link px-3 link-dark">
                            <a href="{% url 'member_profile' %}" class="nav-link{% if item.active %} active{% endif %}" {% if item.active %}aria-current="page"{% endif %}>
                                {{ user }}
                            </a>
                          </li>
                        {% else %}
                        <li class="nav-link px-3 link-dark">
                            <a href="{% url 'login' %}" class="nav-link{% if item.active %} active{% endif %}" {% if item.active %}aria-current="page"{% endif %}>
                              Member Login
                            </a>
                          </li>
                        {% endif %}
                    </ul>
                  </div>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                </div>
            </nav>

            <!-- end header -->

            <!-- renewal blurb if they are logged in -->
            {% if user.pk > 0 and user.member %}
              {% if user.member.membership_expiring %}
              <div class="alert alert-warning mt-3">
                <i data-feather="alert-circle" class="mx-2 my-0"></i> Your WAHF Membership is expiring soon! <a href="{% url "member_renew" %}">Please renew your membership!</a>
              </div>
              {% elif user.member.membership_valid is False %}
              <div class="alert alert-danger mt-3">
                <i data-feather="alert-circle" class="mx-2 my-0"></i> Your WAHF Membership has lapsed. <a href="{% url "member_renew" %}">Please renew your membership!</a>
              </div>
              {% endif %}
            {% endif %}
        </div>

        {% block before_title %}{% endblock %}

        {% block page_title %}
          {% if page.title or page_title %}
          <div class="page-title-container">
            <div class="container">
              <h1>{% if page.title %}{{ page.title }}{% elif page_title %}{{ page_title }}{% endif %}</h1>
            </div>
          </div>
          {% endif %}
        {% endblock %}

        <div class="container">

            <div class="content">
            <!-- start content block -->

                {% block content %}{% endblock %}

            <!-- end content block -->
            </div>

        </div> <!-- end container -->
    </main>

    <!-- begin footer -->
    <footer class="footer mt-auto py-3 pt-5">
        <div class="container border-top">
            <div class="row py-3">
                <div class="col-6 col-md-3 mb-4">
                    <h5>Membership</h5>
                    {% get_footer_menu slug="footer_membership" parent=site_root calling_page=self %}
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <h5>Hall of Fame</h5>
                    {% get_footer_menu slug="footer_hall_of_fame" parent=site_root calling_page=self %}
                    </ul>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <h5>About WAHF</h5>
                    {% get_footer_menu slug="footer_about" parent=site_root calling_page=self %}
                </div>

                {% if current_magazine_issue.cover %}
                <div class="col-6 col-md-3 mb-4">
                    <div class="col-md-6 px-0 mx-auto my-auto px-3 py-3 text-center">
                        <a href="{% slugurl current_magazine_issue.slug %}">
                            {% image current_magazine_issue.cover height-300 class="img-thumbnail img-fluid" %}
                        </a>
                    </div>
                </div>
                {% endif %}

            </div>

            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <p class="text-muted"><small>&copy; {% now 'Y' %} Wisconsin Aviation Hall of Fame</small></p>
            </div>
        </div>
    </footer>
    <!-- end footer -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js" integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.1/feather.min.js" integrity="sha512-4lykFR6C2W55I60sYddEGjieC2fU79R7GUtaqr3DzmNbo0vSaO1MfUjMoTFYYuedjfEix6uV9jVTtRCSBU/Xiw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
      feather.replace()
    </script>

    {% block extra_js %}
    {# Override this in templates to add extra javascript #}
    {% endblock %}
  </body>
</html>