{% extends "base.html" %}
{% load i18n static %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load stripe_tags %}

{% block title %}
39th Annual Investiture Dinner and Ceremony
{% endblock %}

{% block ogimage %}
<meta property="og:image" content="https://www.wahf.org/media/banquet/a.jpg" >
{% endblock %}

{% block extra_css %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Noto+Serif&family=Quicksand&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<style type="text/css">
.banquet-header {
    float: left;
    height: 430px;
    padding: 20px;
    background-image:
        linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ),
        url("/media/banquet/c.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.banquet-header-image {
    position: relative;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.75);
}

.banquet-header-text {
    font-family: 'Merriweather', serif;
    color: white;
    text-shadow: 3px 3px 3px black;
    position: relative;
    top: 0;
}

hr.border-blue {
    border: #0a58ca !important;
}

h1 {
    font-size: 3rem;
}

h1 span {
    font-size: calc(6.525rem + 3.3vw);
}

.section-header {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    background: #0a58ca;
    color: white;
}

.inductees {
    font-family: 'Noto Serif', serif;
    font-size: 1.7rem;
}

.inductees .img-thumbnail {
    width: 150px;
    margin: 2px;
}

.inductees div a {
    color: #1e1e1e;
}

.star {
}

.date-header {
    min-height: 150px;
    background-image:
        url("/media/banquet/a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.date {
    font-size: 3rem;
    font-family: 'Quicksand', sans-serif;
}

.event-blurb {
    border-top: 2px dotted #cecece;
    border-bottom: 2px dotted #cecece;
    font-family: 'Roboto', sans-serif;

}

li {
    font-size: larger;
}

.location1 {
    font-size: 1.5rem;
}

.location2 {
    font-size: 1.5rem;
}

.location3 {
    font-size: 1.1rem;
}

.location3 a {
    color: #8e8e8e;
}


.tables-header {
    height: 279px;
    background-image:
        url("/media/banquet/b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.rsvp {
    font-size: larger;
    font-family: 'Quicksand', sans-serif;
}

.btn {
    min-width: 75%;
    font-size: 2.0rem !important;
}

</style>

{% endblock %}


{% block extra_js %}

<script>

</script>

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xl-9 pb-5 p-0">
            <div class="text-center section-header" style="height:10px !important;">
                &nbsp;
            </div>

            <div class="banquet-header">
                <div class="banquet-header-image"></div>
                <div class="banquet-header-text">
                    <h1>
                        <span>39<sup>th</sup></span>
                        <br>
                        Annual Investiture Dinner and Ceremony
                    </h1>
                </div>
            </div>

            <div class="text-center section-header mb-3">
                <div class="row p-2">
                    <div class="col-md-2">
                        <span class="star">&bigstar; &bigstar; &bigstar;</span>
                    </div>
                    <div class="col-md-8">
                        Please join us as we honor our 2025 inductees
                    </div>
                    <div class="col-md-2">
                        <span class="star">&bigstar; &bigstar; &bigstar;</span>
                    </div>
                </div>
            </div>

            <div class="inductees row">
                <div class="col-md-6">
                    <a href="/hall-of-fame/scott-robinson-alwin/">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <img src="/static/img/blank.png" alt="Scott Robinson Alwin" class="img-thumbnail img-fluid">
                            </div>
                            <div class="col-8 ">
                                Scott Robinson Alwin
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 mt-2">
                    <a href="/hall-of-fame/greg-anderson/">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <img src="/static/img/blank.png" alt="Greg Anderson" class="img-thumbnail img-fluid ">
                            </div>
                            <div class="col-8 ">
                                Greg Anderson
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 mt-2">
                    <a href="/hall-of-fame/ed-lachendro/">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <img src="/static/img/blank.png" alt="Ed Lachendro" class="img-thumbnail img-fluid ">
                            </div>
                            <div class="col-8  ">
                                Ed Lachendro
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 mt-2">
                    <a href="/hall-of-fame/mark-lee/">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <img src="/static/img/blank.png" alt="Mark Lee" class="img-thumbnail img-fluid ">
                            </div>
                            <div class="col-8 ">
                                Mark Lee
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 mt-2">
                    <a href="/hall-of-fame/richard-werling/">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <img src="/static/img/blank.png" alt="Richard (Dick) Werling" class="img-thumbnail img-fluid ">
                            </div>
                            <div class="col-8 ">
                                Richard (Dick) Werling
                            </div>
                        </div>
                    </a>
                </div>
            </div>


            <div class="event-blurb mt-4 p-2">
                <div class="date text-center">
                    SATURDAY, OCTOBER 18, 2025
                </div>

                <div class="location text-center">
                    <span class="location1">EAA Aviation Museum</span><br>
                    <span class="location2">Eagle Hangar</span><br>
                    <span class="location3"><a href="https://goo.gl/maps/tcDxdy5PWv3nSsyf7" target="_blank">3000 Poberezny Road, Oshkosh, Wisconsin</a></span>
                </div>

                <div class="mt-3 mb-3">
                    <ul>
                        <li><b>Optional Docent-led Museum Tour</b> - 3:30 to 4:30 p.m.</li>
                        <li><b>No Host Reception</b> - 5 p.m.</li>
                        <li><b>Silent Auction</b> - 5 to 6 p.m.</li>
                        <li><b>Dinner</b> - 6 p.m.</li>
                        <li><b>Ceremony follows dinner</b></li>
                    </ul>
                </div>

                <div>
                    <ul>
                        <li><b>Wisconsin Aviation Hall of Fame Annual Membership Meeting</b> - 2:30 p.m. - Batten Board Room, lower level EAA Aviation Museum</li>
                    </ul>
                </div>


                <div>
                    Each pre-registered guest will receive a registration confirmation. Please bring your confirmation to the event.<br>
                    Cocktail/Semi-formal dress suggested.<br>
                    Please respond no later than October 11, 2025
                </div>
            </div>

            <!--
            <div class="text-center rsvp mb-4">
                RSVP's have closed for 2025.
            </div>
        -->


            <div class="row mt-1 mb-3">
                <div class="col-md-6 mt-3 mb-3 text-center">
                    <a href="https://buy.stripe.com/dR628q5I3cIJbGo3cd">
                        <button type="button" class="btn btn-primary p-3">
                            <span style="font-size:smaller">RSVP</span><br>
                            Individual Tickets<br>
                            $50/person
                        </button>
                    </a>
                </div>
                <div class="col-md-6 mt-3 mb-3 text-center">
                    <a href="https://buy.stripe.com/7sI28q8Uf4cdcKsbII">
                        <button type="button" class="btn btn-primary p-3">
                            <span style="font-size:smaller">RSVP</span><br>
                            Table of 8<br>
                            $400
                        </button>
                    </a>
                </div>
            </div>

            <div class="text-center rsvp mb-3 mt-5" style="border-top: 2px dotted #cecece;">
                Your financial support is appreciated!
            </div>

            <div class="row mt-4 mb-3">
                <div class="col-md-6 mb-5 text-center">
                    <a href="https://buy.stripe.com/28o5kC0nJ3896m4aEG">
                        <button type="button" class="btn btn-info">
                            Donate to WAHF
                        </button>
                    </a>
                </div>
                <div class="col-md-6 mb-3 text-center">
                    <a href="https://www.wahf.org/membership/">
                        <button type="button" class="btn btn-info">
                            Become a Member
                        </button>
                    </a>
                </div>
            </div>

            <div class="text-center section-header mt-3" style="height:10px !important;">
                &nbsp;
            </div>
            <img src="/static/rsvp/2023-banquet-skot-0.jpg" class="img-fluid">
            <div class="text-center section-header" style="height:10px !important;">
                &nbsp;
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-6">

                        <div class="text-center section-header mt-4" style="height:10px !important;">
                            &nbsp;
                        </div>
                        <img src="/static/rsvp/2023-banquet-skot-1.jpg" class="img-fluid">
                        <div class="text-center section-header" style="height:10px !important;">
                            &nbsp;
                        </div>

                    </div>

                    <div class="col-6">

                        <div class="text-center section-header mt-4" style="height:10px !important;">
                            &nbsp;
                        </div>
                        <img src="/static/rsvp/2023-banquet-skot-11.jpg" class="img-fluid">
                        <div class="text-center section-header" style="height:10px !important;">
                            &nbsp;
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-6">

                        <div class="text-center section-header mt-4" style="height:10px !important;">
                            &nbsp;
                        </div>
                        <img src="/static/rsvp/2023-banquet-skot-10.jpg" class="img-fluid">
                        <div class="text-center section-header" style="height:10px !important;">
                            &nbsp;
                        </div>

                    </div>

                    <div class="col-6">

                        <div class="text-center section-header mt-4" style="height:10px !important;">
                            &nbsp;
                        </div>
                        <img src="/static/rsvp/2023-banquet-skot-8.jpg" class="img-fluid">
                        <div class="text-center section-header" style="height:10px !important;">
                            &nbsp;
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-6">

                        <div class="text-center section-header mt-4" style="height:10px !important;">
                            &nbsp;
                        </div>
                        <img src="/static/rsvp/2023-banquet-skot-9.jpg" class="img-fluid">
                        <div class="text-center section-header" style="height:10px !important;">
                            &nbsp;
                        </div>

                    </div>

                    <div class="col-6">

                        <div class="text-center section-header mt-4" style="height:10px !important;">
                            &nbsp;
                        </div>
                        <img src="/static/rsvp/2023-banquet-skot-3.jpg" class="img-fluid">
                        <div class="text-center section-header" style="height:10px !important;">
                            &nbsp;
                        </div>

                    </div>
                </div>

                <div class="mt-4">
                    <i>Photos above are generously provided by <a href="https://www.weidemannphoto.com/" target="_blank">Skot Weidemann Photography</a></i>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}