{% extends "base.html" %}
{% load i18n static %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% load image_tags %}

{% block title %}
Membership - Thanks for your WAHF membership!
{% endblock %}

{% block extra_css %}
{% endblock %}


{% block extra_js %}
{% if do_refresh %}
<script>
setTimeout(function() { window.location.reload }, 1250);
</script>
{% endif %}
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xl-9">

<h1>{{ snippet.title }}</h1>

{{ snippet.content|richtext }}


        </div>
    </div>
</div>

{% endblock %}
