{% extends "base.html" %}
{% load i18n static %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load stripe_tags %}

{% block title %}
Membership
{% endblock %}

{% block page_title %}
    {% with page_title="Membership - Join Us!" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block extra_css %}

<style type="text/css">

.membershipAbout p {
    margin-bottom: 30px;
    font-size: larger;
    line-height: 150%;
}

.membershipAbout li {
    font-size: larger;
    line-height: 150%;
}

.modal-dialog {
    --bs-modal-width: 700px;
}

.modal-body {
    padding: 1.2rem;
}

.level-individual, .level-individual-spouse {
    border-left: 8px solid green;
}

.level-biz-small {
    border-left: 8px solid #052c65;
}

.level-lifetime-individual {
    border-left: 8px solid #644d03;
}


.membershipLevel {
    cursor: pointer;
    max-width: 700px;
    padding: 20px;
}

.membershipLevel:hover {
    background-color: #edf0feff;
}

.membershipLevelHeader {
    font-size: 1.5rem;
}

.membershipLevelName {
    font-weight: bold;
}

.membershipLevelDescription {
    margin: .6rem 0 .6rem 2.0rem;
}

.membershipDonationExplaination {
    background: #ffc430;
}

.membershipDonationExplaination span {
    font-size: larger;
    font-weight: bold;
}

.membershipContinueButton, .addressContinueButton {
    background: #366994;
    font-weight: bold;
    color: white;
    font-size: larger;
    cursor: pointer;
}

.membershipLevelSelected {
    margin-bottom: 20px;
}

.membershipLevelHeader {
    margin-bottom: 0;
}

.membershipLevelSelectedHeader a {
    font-size: smaller;
    margin-left: 10px;
}

.specialProgramContributions .input-group {
    width: 200px;
}

.specialProgramContributions .form-control, .specialProgramContributions .group-text {
    font-size: 1.5rem;
}

.makeRecurringParentWrapper {
    border: 1px solid #cecece;
    padding: 0 10px 10px 10px;
    margin: 15px 10px 0 10px;
    cursor: pointer;
}

.irsDisclaimer {
    font-style: italic;
    margin: 10px 0 10px 0;
    color: #6e6e6e;
    font-size: smaller;
}

.addressDetails div {
    margin-bottom: 8px;
}

label {
    font-weight: bold;
}

.error {
    border: 2px solid red;
}

#specialProgramErrorMessage {
    font-weight: bold;
}

</style>

{% endblock %}


{% block extra_js %}
<script src="https://js.stripe.com/clover/stripe.js"></script>
<script>

let membershipLevelArray = {{ membershipLevelJSON|safe }};

let membershipLevel = null;
let additionalContributions = [];
let isRecurring = false;
let totalPrice = null;
let checkout = null;
let modal = null;

function initiateVariables() {
    membershipLevel = null;
    additionalContributions = [];
    isRecurring = false;
    totalPrice = null;

    specialProgramResetValues();

    // Reset checkbox
    document.getElementById("makeRecurring").checked = false;
}

function startup() {
    initiateVariables();
    attachHandlers();
    specialProgramAttachHandlers();
    makeRecurringAttachHandlers();
}

function attachHandlers() {
    // Membership Level Buttons
    document.querySelectorAll('.membershipLevel').forEach(level => {
        console.log(level)
        level.addEventListener('click', () => {
            console.log(level)
            // document.querySelectorAll('.membershipLevel').forEach(c => c.classList.remove('membershipLevelSelected'));
            // level.classList.add('membershipLevelSelected');

            membershipLevel = membershipLevelArray[level.getAttribute('data-slug')];

            updateCheckoutDescription();
            updateMembershipSelected();

            document.getElementById("selectYourMembership").classList.add("d-none");
            document.getElementById("specifyContributions").classList.remove("d-none");
            document.getElementById("addressDetails").classList.add("d-none");
            document.getElementById("payment").classList.remove("d-none");

            // Don't show is recurring checkbox for lifetime memberships
            document.getElementById("makeRecurring").checked = false;
            if (membershipLevel["allow_recurring"])
                document.getElementById("makeRecurringParentWrapper").classList.remove("d-none");
            else
                document.getElementById("makeRecurringParentWrapper").classList.add("d-none");

            // Show the modal in some cases
            if(level.getAttribute('show-modal') === "yes") {
                modal = new bootstrap.Modal(document.getElementById('membershipModal'));
                modal.show();
            }
        });
    });

    // Additional Contribution Continue Button
    document.getElementById("membershipContinueButton").addEventListener("click", () => {
        let hasError = validateAdditionalContributionsInputs();
        if(hasError) return

        document.getElementById("specifyContributions").classList.add("d-none");
        document.getElementById("addressDetails").classList.remove("d-none");

        if (membershipLevel.includes_spouse) {
            document.getElementById("spouseNameContainer").classList.remove("d-none");
        } else {
            document.getElementById("spouseNameContainer").classList.add("d-none");
        }

        if (membershipLevel.is_business) {
            document.getElementById("businessNameContainer").classList.remove("d-none");
        } else {
            document.getElementById("businessNameContainer").classList.add("d-none");
        }

        document.getElementById("inputName").focus();
    });

    // Recurring make the whole thing clickable
    document.getElementById("makeRecurringParentWrapper").addEventListener("click", () => {
        document.getElementById("makeRecurring").click();
    });

    // Inputs for additional contributions
    document.querySelectorAll('.specialProgram').forEach(input => {
        input.addEventListener('click', () => {
            if(input.value === "0") {
                input.select();
            }
        });
    });

    // Continue to Payment Button
    document.getElementById("addressContinueButton").addEventListener("click", () => {
        document.getElementById("addressFormSubmitButton").click();
    });

    document.getElementById("addressForm").addEventListener("submit",  async (e) => {
        e.preventDefault();

        const btn = document.getElementById("addressFormSubmitButton");
        btn.setAttribute("disabled", "disabled");
        btn.innerHTML = "One second..."
        let stripeSessionId = await submitStripeSessionForm();

        document.getElementById("addressDetails").classList.add("d-none");
        document.getElementById("payment").classList.remove("d-none");

        const stripe = Stripe('{% stripe_public_key %}');
        checkout = await stripe.initEmbeddedCheckout({"clientSecret": stripeSessionId });
        checkout.mount('#payment');
    });
}

function specialProgramAttachHandlers() {
    document.querySelectorAll('.specialProgram').forEach(program => {
        program.addEventListener('change', () => {
            let hasError = validateAdditionalContributionsInputs();
            if(hasError) return
            updateCheckoutDescription();
        });
    });
}

function specialProgramResetValues() {
    document.querySelectorAll('.specialProgram').forEach(program => {
        program.value = "0";
    });
}

function makeRecurringAttachHandlers() {
    document.getElementById('makeRecurring').addEventListener('change', function() {
        if (this.checked) {
            isRecurring = true;
        } else {
            isRecurring = false;
        }
        updateCheckoutDescription();
    });
}

function updateCheckoutDescription() {
    // not set? hide it.
    if(!membershipLevel) {
        document.querySelectorAll('.membershipDonationExplaination').forEach(el => {
            el.classList.add('d-none');
        });
        totalPrice = 0;
        return
    }

    totalPrice = membershipLevel["price"]

    additionalContributions = "";
    let additionalContributionsArray = [];
    document.querySelectorAll('.specialProgram').forEach(el => {
        let elFloatValue = parseFloat(el.value);
        totalPrice += elFloatValue

        additionalContributionsArray.push(`${el.getAttribute('data-slug')}:${elFloatValue}`)
    })
    additionalContributions = additionalContributionsArray.join(",");

    let recurringDescription = "one time payment"
    if (isRecurring) recurringDescription = "per year (recurring)"

    document.querySelectorAll('.membershipDonationExplaination').forEach(el => {
        el.classList.remove('d-none'); // show
        el.innerHTML = `Your Contribution: <span>$${totalPrice}</span> ${recurringDescription}`;
    });
}

function validateAdditionalContributionsInputs() {
    let hasError = false;

    document.querySelectorAll('.specialProgram').forEach(program => {
        program.classList.remove("error");
        if(!isPositiveNumber(program.value)) {
            hasError = true;
            program.classList.add("error");
        }
    });

    if(hasError) {
        document.getElementById("specialProgramErrorMessage").classList.remove("d-none");
    } else {
        document.getElementById("specialProgramErrorMessage").classList.add("d-none");
    }

    return hasError;
}

function startOver() {
    document.getElementById("specifyContributions").classList.add("d-none");
    document.getElementById("addressDetails").classList.add("d-none");

    initiateVariables();

    document.getElementById("selectYourMembership").classList.remove("d-none");
}

function updateMembershipSelected() {
    document.querySelectorAll('.membershipLevelSelectedIcon').forEach(el => {
        el.setAttribute("data-feather", membershipLevel["icon"]);
    });
    feather.replace();

    document.querySelectorAll('.membershipLevelSelectedName').forEach(el => {
        el.innerHTML = membershipLevel["name"];
    });

    document.querySelectorAll('.membershipLevelSelectedPrice').forEach(el => {
        el.innerHTML = membershipLevel["price_display"];
    });
}

async function submitStripeSessionForm() {

    const formData = new FormData();

    formData.append("name", document.getElementById("inputName").value);
    formData.append("spouse_name", document.getElementById("spouseName").value);
    formData.append("business_name", document.getElementById("businessName").value);
    formData.append("email", document.getElementById("email").value);
    formData.append("phone", document.getElementById("phone").value);

    formData.append("line1", document.getElementById("inputAddress").value);
    formData.append("line2", document.getElementById("inputAddress2").value);
    formData.append("city", document.getElementById("inputCity").value);
    formData.append("state", document.getElementById("inputState").value);
    formData.append("zip", document.getElementById("inputZip").value);

    formData.append("level", membershipLevel["slug"]);
    formData.append("additional_contributions", additionalContributions);
    formData.append("total_amount", totalPrice);

    if(isRecurring) formData.append("is_recurring", true)

    const response = await fetch("{% url 'membership-join' %}", {
        method: "POST",
        headers: {
            "X-CSRFToken": "{{ csrf_token }}"
        },
        body: formData
    });

    let data = await response.json();

    console.log(data);

    if(data["checkoutSession"]) return data["checkoutSession"];
    // error, probably
    return
}

function isPositiveNumber(value) {
    // 1. Coerce the value to a number
  const num = Number(value);

  // 2. Check:
  // - Is it not NaN? (catches "abc")
  // - Is it a finite number? (catches Infinity)
  // - Is it >= 0?
  // - Is the original value not just an empty string or null?
  // (Number("") or Number(null) results in 0, which might be a false positive)

  if (value === "" || value === null) return false;

  return !isNaN(num) && isFinite(num) && num >= 0;
}

startup();

</script>

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xl-9 membershipAbout">
            <h3>Membership Benefits:</h3>
            <p>
                <ul>
                    <li>An invitation to the <a href="/rsvp/">annual investiture ceremony.</a></li>
                    <li>Subscription to our quarterly magazine <a href="/forward-in-flight-all-issues/"><i>Forward in Flight</i></a>.</li>
                    <li>The opportunity to <a href="/hall-of-fame-nominations/">nominate the men and women</a> who made significant contributions to aviation.</li>
                </ul>
            </p>

            <hr>

            <h3>Prefer to join by mail?</h3>
            <p>

                <a href="#">Membership Application Form (PDF).</a>
            </p>

            <h3>Membership Questions?</h3>
            <p>
                Send an email to: <a href="mailto:info@wahf.org">info@wahf.org</a>
            </p>

            <h3>Renew your Membership:</h3>
            <p>
                <!-- <a href="#">Click here to Renew or Manage your Membership.</a> -->
                Online renewals will be back online soon. Contact us if you need assistance.
            </p>

            <hr>

        </div>

        <h3>Join Us!</h3>

        <p>Tap on a level below to become a WAHF member.</p>

        <div class="membershipLevels mt-3 mb-3">
            <ul class="list-group">
            {% for level in membership_levels %}
                <li class="list-group-item membershipLevel level-{{ level.slug }} " data-slug="{{ level.slug }}" show-modal="yes">
                    <p class="membershipLevelHeader">
                        <span class="membershipLevelName {{ level.membership_page_text_class }}">
                            {% if level.membership_page_icon %}<i data-feather="{{ level.membership_page_icon }}"></i>{% endif %}
                            {{ level.name }}
                        </span>
                        -
                        <span class="membershipPriceDisplay">{{ level.price_display }}</span>
                    </p>
                    <p class="membershipLevelDescription">
                        {{ level.description }}
                    </p>
                </li>
            {% endfor %}
            </ul>
        </div>

    </div>
</div>

<div class="modal fade" id="membershipModal" tabindex="-1" aria-labelledby="membershipModalLabel" aria-hidden="true">
  <div class="modal-dialog p-1">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="membershipModalLabel">WAHF Membership</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="selectYourMembership">
            <h2>Select Your Membership</h2>

            <div class="membershipLevels mb-3">
                <ul class="list-group">
                {% for level in membership_levels %}
                    <li class="list-group-item membershipLevel" data-slug="{{ level.slug }}">
                        <p class="membershipLevelHeader">
                            <span class="membershipLevelName">
                                {% if level.membership_page_icon %}<i data-feather="{{ level.membership_page_icon }}"></i>{% endif %}
                                {{ level.name }}
                            </span>
                            -
                            <span class="membershipPriceDisplay">{{ level.price_display }}</span>
                        </p>
                        <p class="membershipLevelDescription">
                            {{ level.description }}
                        </p>
                    </li>
                {% endfor %}
                </ul>
            </div>

            <div class="membershipContinueButton rounded p-3 mt-2 text-center">
                Continue
            </div>

        </div>

        <div id="specifyContributions" class="specifyContributions d-none">

            <div class="membershipLevelSelected">
                <p class="membershipLevelSelectedHeader">
                    Membership Level:
                    <a href="#" onclick="startOver();">(start over)</a>
                </p>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p class="membershipLevelHeader">
                            <span class="membershipLevelName">
                                <i data-feather="user" class="membershipLevelSelectedIcon"></i>
                                <span class="membershipLevelSelectedName"></span>
                            </span>
                            -
                            <span class="membershipPriceDisplay membershipLevelSelectedPrice"></span>
                        </p>
                    </li>
                </ul>
            </div>

            <h2>Additional Contributions</h2>

            <div class="specialProgramContributions mb-3">
                {% for ct in contribution_types %}
                <div class="mb-3">
                    <label for="specialProgram-{{ ct.slug }}" class="form-label">{{ ct.name }}</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input type="number" class="form-control specialProgram" data-slug="{{ ct.slug }}" id="specialProgram-{{ ct.slug }}" aria-describedby="specialProgramHelp-{{ ct.slug }}" value="0">
                    </div>
                    <div id="specialProgramHelp-{{ ct.slug }}" class="form-text">
                        {{ ct.description }}
                        {% if ct.link %}
                            <a href="{{ ct.link }}" target="_blank">Learn More</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="membershipDonationExplaination rounded p-3 mt-2 text-center">
            </div>

            <div class="makeRecurringParentWrapper rounded" id="makeRecurringParentWrapper">
                <div class="form-check mt-3" id="makeRecurringWrapper">
                    <input type="checkbox" class="form-check-input makeRecurring" id="makeRecurring" aria-describedby="makeRecurringHelp">
                    <label class="form-check-label" for="makeRecurring">Renew my membership automatically</label>
                    <div id="makeRecurringHelp" class="form-text">
                        Your membership will renew annually. You can cancel anytime.
                    </div>
                </div>
            </div>

            <div class="irsDisclaimer">
                The Wisconsin Aviation Hall of Fame is listed as a 501(c)(3) organization for donation and tax purposes.
            </div>

            <div class="alert alert-danger d-none" role="alert" id="specialProgramErrorMessage">
                Please check your donation amounts above. It looks like one or more are not a number!
            </div>

            <div id="membershipContinueButton" class="membershipContinueButton rounded p-3 mt-2 text-center">
                Continue
            </div>

        </div>

        <div id="addressDetails" class="addressDetails d-none">

            <div class="membershipLevelSelected">
                <p class="membershipLevelSelectedHeader">
                    Membership Level:
                    <a href="#" onclick="startOver();">(start over)</a>
                </p>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p class="membershipLevelHeader">
                            <span class="membershipLevelName">
                                <i data-feather="user" class="membershipLevelSelectedIcon"></i>
                                <span class="membershipLevelSelectedName"></span>
                            </span>
                            -
                            <span class="membershipPriceDisplay membershipLevelSelectedPrice"></span>
                        </p>
                    </li>
                </ul>
            </div>

            <div class="membershipDonationExplaination rounded p-3 mt-2 text-center">
            </div>

            <h2>Your Details</h2>

            <div class="container mb-4">
                <div class="row">
                  <form id="addressForm" action="#">

                    <div class="col-12">
                        <label for="inputName" class="form-label">Your Name</label>
                        <input type="text" class="form-control" id="inputName" required>
                    </div>

                    <div class="col-12" id="spouseNameContainer">
                        <label for="spouseName" class="form-label">Spouse Name</label>
                        <input type="text" class="form-control" id="spouseName">
                    </div>

                    <div class="col-12" id="businessNameContainer">
                        <label for="businessName" class="form-label">Business Name</label>
                        <input type="text" class="form-control" id="businessName">
                    </div>

                    <div class="col-12">
                        <label for="email" class="form-label">Email Address</label>
                        <input type="email" class="form-control" id="email" required>
                    </div>

                    <div class="col-12 mb-5">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="phone" class="form-control" id="phone" required>
                    </div>

                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Mailing Address</label>
                        <input type="text" class="form-control" id="inputAddress" required>
                    </div>

                    <div class="col-12">
                        <label for="inputAddress2" class="form-label">Address 2 (Optional)</label>
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Optional">
                    </div>

                    <div class="col-12">
                        <label for="inputCity" class="form-label">City</label>
                        <input type="text" class="form-control" id="inputCity" required>
                    </div>

                    <div class="col-12">
                        <label for="inputState" class="form-label">State</label>
                        <select id="inputState" class="form-select" required>
                        <option selected disabled value="">Choose...</option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                        </select>
                    </div>

                    <div class="col-12">
                        <label for="inputZip" class="form-label">Zip</label>
                        <input type="text" class="form-control" id="inputZip" pattern="[0-9]{5}" required>
                    </div>
                    <input type="submit" id="addressFormSubmitButton" class="d-none">
                  </form>
                </div>
            </div>

            <div id="addressContinueButton" class="addressContinueButton rounded p-3 mt-2 text-center">
                Continue to Payment
            </div>
        </div>

        <div id="payment" class="d-none">
        </div>

      </div>
    </div>
  </div>
</div>


{% endblock %}